.accuracy-bar {
  width: 100%;
  /* height: 16px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 2rem;
  padding-bottom: 1rem;
  /* border: 1px solid red; */
}

.accuracy-lights {
  height: 22px;
  width: var(--app-display-width);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.low-high-indicator {
  width: var(--app-display-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 8px 0;
  color: var(--fg-primary);
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.9rem;
  /* border: 1px solid red; */
}

.light {
  height: 24px;
  width: 24px;
  padding: 3px;
  background-image: conic-gradient(
    #101010 70deg,
    #303030 110deg,
    #404040 145deg,
    #808080 180deg,
    #404040 215deg,
    #303030 250deg,
    #101010 290deg
  );
  overflow: hidden;
  border-radius: 50%;
}

.light div {
  transition: background 0.3s;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.light .red {
  background: radial-gradient(circle at 50% 40%, #ff0060 0% 15%, black 75%);
}

.light .orange {
  background: radial-gradient(circle at 50% 40%, #ff6060 0% 15%, black 75%);
}

.light .yellow {
  background: radial-gradient(circle at 50% 40%, #ff8f50 0% 15%, black 75%);
}

.light .green {
  background: radial-gradient(circle at 50% 40%, #00ff60 0% 15%, black 75%);
}

.light .off {
  background: radial-gradient(circle at 50% 40%, #333 0% 15%, black 75%);
  /* display: none; */
}
