.ps-inner-grid {
  width: 12rem;
  height: 6rem;
  display: grid;
  grid-template-rows: 2rem 1fr;
  /* border: 1px solid #555; */
}

.selector-label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid pink; */
}

.selector-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid pink; */
}

.a4-select-minus,
.a4-select-reset,
.a4-select-plus {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.2s ease-in;
  /* border: 1px solid yellow; */
}

.a4-select-minus:hover,
.a4-select-reset:hover,
.a4-select-plus:hover {
  background-color: #363636;
}

.ps-label {
  font-size: 0.9rem;
  color: var(--fg-secondary);
  user-select: none;
  /* border: 1px solid #444; */
}

.button-plus,
.button-reset,
.button-minus {
  width: 80%;
  height: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.7rem;
  background-image: linear-gradient(to bottom, #3f3f3f, #202020, #101010);
  border: 3px solid #000;
}

/* Small screens. */
@media (max-width: 360px) {
  .ps-inner-grid {
    width: 9rem;
  }
}
