* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tuner {
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #111;
  /* border: 1px solid red; */
}

.top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  /* Padding top should be equal to the distance to the sides. */
  padding: 12.5vw 0 1rem;
  /* border: 1px solid yellow; */
}
