.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #383838, #202020);
  color: var(--fg-primary);
  /* border: 1px solid green; */
}

.app-name {
  height: var(--app-name-height);
  padding: 5px 8px;
  border-bottom: 1px solid #101010;
  /* border: 1px solid red; */
}

.app-name span {
  font-family: 'Orbitron', sans-serif;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #909090, #d0d0d0, #909090);
  background-clip: text;
  color: transparent;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  border-bottom: 2px solid #111;
  /* border-top: 1px solid #505050; */
}

footer {
  text-align: center;
  font-size: 0.8rem;
  /* border: 1px solid red; */
}

footer p {
  padding: 12px 0;
  font-family: 'Orbitron', sans-serif;
}

.border-top-shine {
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #444, #666, #444);
}

.border-bottom-shine {
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, #333, #555, #333);
}

.material-symbols-outlined {
  /* color: hotpink; */
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.love {
  transform: translateY(4px);
  font-size: 1.1rem;
  padding: 0 3px;
  color: hotpink;
}

.author {
  font-family: 'Orbitron', sans-serif;
  color: mediumslateblue;
}
