@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  user-select: none;
}

:root {
  --app-name-height: 36px;
  --app-display-width: 75vw;
  --fg-primary: #808080;
  --fg-secondary: #707070;
}

/* Big displays, desktop, landscape. */
@media (min-width: 480px) {
  :root {
    --app-display-width: 360px;
  }
}

/* Small displays. */
@media (max-width: 360px) {
  :root {
    --app-display-width: 85vw;
  }
}
